.scroll-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    line-height: 40px;
    top: 40%;
    width: 9px;
    right: 4.5%;
    max-width: 10px;
    z-index: 1;
    position: fixed;
    font-size: 5px;
    color: black;
    transition: opacity .25s ease;
}

.buttonTrueTips{
    font-size: 13px;
    color: #5fa8e5;
    padding: 15px;
}
.buttonFalseTips{
    color: #5fa8e5;
    padding: 15px;
}
.buttonTrueWIM{
    font-size: 13px;
    color: #6ecd9c;
    padding: 15px;
}
.buttonFalseWIM{
    color: #6ecd9c;
    padding: 15px;
}

.scroll-nav > .active {
    font-size: 10px;
    transition: all .25s cubic-bezier(.165,.84,.44,1);
}

.dot:hover {
    font-size: 10px;

}
