.scroll-nav{
    
    background: none;
    line-height: 50px;
    top: 50%;
    position: absolute;
    width: 9px;
    right: 4%;
    max-width: 10px;
    align-content: flex-end;
    z-index: 1;
    position: fixed;
    font-size: 5px;
    color: black;
}

.buttonTrueTips{
    font-size: 13px;
    color: #5fa8e5;
    padding: 15px;
}
.buttonFalseTips{
    color: #5fa8e5;
    padding: 15px;
}
.buttonTrueWIM{
    font-size: 13px;
    color: #6ecd9c;
    padding: 15px;
}
.buttonFalseWIM{
    color: #6ecd9c;
    padding: 15px;
}
