.page-container{
    width: 100%;
margin-top: 125px;
}

.quiz-item{
    margin: 50px 20% 50px 20%;

}

#quiz-description{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
    line-height: 120%;
    font-size: 120%;
    padding: 35px;
    text-align: center;
    background-color: rgba(159, 209, 255, 0.36);
}
.quiz-photo-container{
    background-image: url("https://images.pexels.com/photos/1115090/pexels-photo-1115090.jpeg?cs=srgb&dl=beautiful-flowers-bloom-blossom-1115090.jpg&fm=jpg");
    height: 250px;

    margin: 0;
    position: relative;
    text-align: center;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-position: center;
    padding-top: 200xpx;
   
}

#quiz-title strong{
    animation: left 1s forwards;
}
.quiz-page{
    top: 500px;
   
}
.quiz{

   
   
}