.page-container{
    width: 100%;
}

.quiz-item{
    margin: 80px 20% 80px 20%;
}

#quiz-description{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
    line-height: 120%;
    font-size: 120%;
    padding: 50px;
    text-align: center;
    background-color: rgba(159, 209, 255, 0.36);
}