.tips-container {
    column-count: 1;
    display: flex;
    justify-content: space-evenly;
    margin-left: 250px;
    margin-right: 250px;
   margin-bottom: 20px;
    padding-top: 100px;
}
.paragraph{
    font-family: 'Quicksand', sans-serif;
    margin-top: 0;
    margin-right: 25%;
    margin-left: 25%;
    column-count: 2;
    line-height: 120%;
    font-size: 120%;
    padding: 50px;
}
.page-title{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
    font-weight: 100;
    padding: 20px;
    
    margin-left: 10%;
    padding-left: 0;
    color: black;
    font-size: 50px;
    padding-top: 190px;
    margin-top: 0;
    padding-bottom: 0;
    text-align: left;
    
}

.underline{
    margin-left: 10%;
    border-right: 60%;
     background-color:#5fa8e5;
    padding: 0;
    width: 10%;
    min-height: 20px;
    margin-bottom: 100px;
}

.WIM-underline{
    
    margin-left: 10%;
    border-right: 60%;
   background-color: #6ecd9c;
    padding: 0;
    width: 10%;
    min-height: 20px;
    margin-bottom: 100px;
}

.bg-image .transport .container {
    background-position: bottom;
}
