.bg-image .container{
        margin: 0;
        position: relative;
        text-align: center;
        background-position: center;
        background-size: cover;
        height: 500px;
        display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
    
}

.bg-image .title{

    
   

    top: 50%;
    left: 80%;

    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
    padding: 10px;
    z-index: 10;

    width: 5000px;
    

    

    align-self: center;

    
}
strong{
    font-weight: bolder;
    width: 100%;
    color: white;
}
.img{
    width: 100%;
    background-size: cover;
    background: no-repeat center center fixed;
}


