span{
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;
    
}

.boxes{ 
    width: 30%;
    font-family: 'Quicksand', sans-serif;
    line-height: 160%;
    font-size: 120%;
    padding-left: 5%;
}

.submit-button{
    outline: none;
    border: none;
    background-color: rgba(56, 191, 167, 0.78);
    
    
    border-radius: 50px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    font-size: 15px;
    font-weight: 900;
    

}
.submit{
    text-align: center;
      padding-top: 30px;
      padding-bottom: 70px;
}

button{
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;

}
#quiz-tabs{
    text-align: center;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 20px;
}
.tab {
   display: inline-block;
   padding: 30px;


}

.tab-link{
    height: 50%;
    width: 120%;
    padding: 15px;
    outline: none;
    border: none;
    color: #666565;
    background-color: white;
}
.tab-link-active{
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(111, 154, 255);
    height: 50%;
    padding: 15px;
    width: 120%;
    color: black;
    background-color: white;

}
#quiz{
    position: relative;
    padding-left: 5%;
}

.new-tab{

    text-align: center;
    outline: none;
    border: none;
    border: 3px solid #6ecd9c;;
    color: black;
    text-decoration: none;
    background: white;
    border-radius: 50px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    font-size: 15px;

  }
  .next-btn{
 
      margin-left: 0;
      padding-top: 30px;
      bottom: 0;
      text-align: center;

  }

  .results-container{
      width: 100%;
      display:flex;
      flex-direction: row;
    justify-content: space-between;
    margin-left: 0%;
      margin-right: 0%;
  }
  .results-focus{
    display: inline-block;
    padding-top: 50px;
      width: 40%;
      
  }
  .results-description {
      font-size: 40px;
      font-weight: 100;
      text-align: left;
      padding: 0;
      margin-top: 0;
      
  }
  #results-link{
    
    outline: none;
    border: none;
    border: 3px solid #6ecd9c;;
    color: black;
    text-decoration: none;
    background: white;
    border-radius: 50px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    font-size: 15px;
   
  }
  .learn-more{
      text-align: left;
  }
 .submit-text{
    color: white;
    text-decoration: none;
   
 }

  .quiz-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      margin-left: 20%;
      margin-right: 20%;
  }
  .quiz-question{
      width: 70%;
  }
  
 