.text{
    font-family: 'Quicksand', sans-serif;
    margin-top: 0;
    margin-right: 25%;
    margin-left: 25%;
    column-count: 2;
    line-height: 120%;
    font-size: 120%;
    padding: 50px;
}
.icon{
    text-align: center;
    position: relative;
    vertical-align: top;
}

