@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

nav {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    height: 100px;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 11;
    font-size: 20px;
    margin-top: 0;
    
}

.pages-nav {
    background-color: white;
  
}

nav a{ 
    color: black;
    text-decoration: none;
    font-size: 20px;  


}
.nav-title a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    right: 0;
    margin: 0;
    font-weight: 800;
}
.nav-title {
    font-family: 'Homemade Apple', sans-serif;
    display: flex;
    left: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 20px;
    z-index: 11;
}

.take-quiz {
    width: auto;
    height: auto;
    border: 1px solid black;
    margin-top: -15px;
    padding: 15px;

    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}


.why-this-matters #whyThisMattersPage{
    border-bottom: 2px solid #6ecd9c;
    padding-bottom: 15px;
}

.nav-links{
    top: 0;
    padding: 45px;
    padding-left: 60px;
    padding-right: 60px;
    
    justify-content: space-between;
    
    margin: 0;
    
    font-size: 20px;
    z-index: 11;
    height: 100%;
    text-align: center;
  
}

.nav-links-quiz{
    top: 0;
    padding: 45px;
    padding-left: 45px;
    padding-right: 45px;
    
    justify-content: space-between;
    
    margin: 0;
    
    font-size: 20px;
    z-index: 11;
    height: 100%;
    text-align: center;
}
.tips #tips-page{
    border-bottom: 2px solid #5fa8e5;
    padding-bottom: 15px;

}
