@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

header {
    position: absolute;
    bottom: auto;
    text-align: center;
    margin: 0;
    height: 100px;
    width: 100%;
    top: 0;
}
.home-nav {
    background-color: none;
}
.nav-menu {
    display: flex;
    text-align: right;
}
.home-title {
    opacity: 0;
}
.home-nav-link{
    top: 0;
    padding: 45px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    z-index: 11;
    height: 100%;
    text-align: center;
}