.tips-box{
    column-count: 1;
    background-color: rgba(101, 178, 255, 0.34);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    column-count: 1;
    display: flex;
    justify-content: center;
}

.tip {
    flex-direction: column;
}

.tip{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 1em;
    border: 1px solid black;
    column-count: 1;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
.tip .tip-text{
    width: 150px;
    height: 100px;
    column-count: 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    margin: 0;
    line-height: 120%;
    font-size: 120%;
    padding: 0;
    bottom: 0;
    display: inline-block;
    vertical-align: baseline;

}
