.tips-box{
    column-count: 1;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    column-count: 1;
    display: flex;
    justify-content: center;
}
.tip{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
    border: 1px solid black;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
.tip .tip-text{
    width: 150px;
    height: 100px;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    margin: 0;
    line-height: 120%;
    font-size: 120%;
}
