.footer  {
    width: 100%;
    height: 20px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    text-align: center;
    column-count: 1;
    padding: 30px;
    
}
.donate{
    padding-left: 30px;
    color: rgb(111, 154, 255);
    font-weight: 900;
    text-decoration: none;
}